body{
    background-color: rgba(0, 0, 0, 0.641);
    margin: 0 0 0 0;
    color: aliceblue;
}

.primero{
    
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    
}



.img1{

    display: none;
    width: 70%;
    height: 70%;
}


#risa{
    
    display: none;
}


#risa2{
    
    display: none;
}

